

.user_posts {
    padding:10px;
    box-sizing: border-box;

    h4 {
        text-align: center;
    }
}

.edit_confirm {
    background: #8BC34A;
    color: #fff;
    padding: 10px 0px;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.item_list {
    table-layout: fixed;

    tr td {
        border-bottom: 1px solid #ccc;
    }
}


td, th {
    // border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


.user_container {
    .avatar {
        text-align: center;
        margin-top: 30px;

        img {
            width: 200px;
        }
    }

    .nfo{
        box-sizing: border-box;
        padding:20px;

        div {
            font-size: 23px;
            font-weight: 300;
            margin-bottom: 10px;
            color: #a4a4a4;

            span { 
                font-weight: 500;
                color: #02bcd4;
            }
        }
    }
}