$dark-grey: #4F646B;    /* cutty sark */
$sky-blue: #69CDEE;     /* sky blue */
$blue: #ADDCEB;         /* regent st blue* */
$dark-turq: #2F5C6B;    /* casal */
$turquoise: #88ACB8;    /* nepal */

$light-pink: #EBC5CF;   /*vanilla ice */
$white: #ffffff;   /* white */
$black: #000000;   /* white */
$off-black: #333;