
header {
    padding-top: 5px;
    background: $blue;
    position: relative;
    
    .logo {
        text-align: center;
        font-size: 22px;
        font-family: "Courier New", Courier, monospace;
        color: $off-black;
        border-bottom: 6px solid $dark-turq;
        display: block;
        min-height: 30px;
    }

    .open_nav {
        position: absolute;
        left:0px;
    }

    .search {
        position: absolute;
        right:0px;
    }

    .navItem {
        font-weight: 300;
        font-size: 12px;
        color:#bababa;
        padding:10px;
        border-top: 1px solid $black;
    }

    .navItem a {
        color:inherit;
        text-decoration: none;
    }

    .navItem span {
        color:$white;
        margin-right:10px;
    }
}

.bars {
    font-size: 17px;
    color: $dark-turq;
    padding: 0.5vh 10px;
    cursor: pointer;
}


