.info_section {
    float: left;
    padding-bottom: 30px;

    img {
        width: 150px;
        float: left;
        padding-right: 25px;
    }
}

.info_icons {
    text-align: center;
    padding-bottom: 30px;
}

.info_icons_img {
    width: 70% !important;
}