
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $white;
}



a {
    text-decoration: none;
    color:$black;
}
a:active,
a:visited,
a:focus {
    color:$black
}


.§_button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

.red_tag {
    background: #F44336;
    color: $white;
    padding: 10px;
}

.logout_container h1{
    color: $dark-turq;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding-top: 31px;
}

/* added by me */

img:before {
    /* content: ' ';
    display: block;
    position: absolute;
    height: 50px;
    width: 50px; */
    background-image: url(/media/default/default.jpg);
}


.main_view {
    margin: 0px 20% 50px 20%;
}

@media(max-width: 650px) {
    .main_view {
        margin: 0px 0 50px 0;
    }
}

.nav_bar {
    background-color: #d3d3d3;
    /* padding: 7px; */
    padding: 7px 20%;
    border-bottom: 1px solid #cacaca;
}

@media(max-width: 650px) {
    .nav_bar {
        padding: 7px 10px;
    }
}



.nav_bar span .nowrap{
    white-space: nowrap;
}

.nav_bar .wrap {
    white-space: pre-line;
}


.center {
    text-align: center;
}

.ext_link {
    width: 5vw;
}

.message {
    // color: #c22f25;
    color: $black;
}