
.map_page_wrapper {

}

.map_header {
    text-align: center;
    margin-top: 40px; 
}

.main_map {
    width: 75%; 
    height: 750px;
    /* margin-bottom: 30px; */
    /* transition: height 2s;    */
    margin: auto;
    margin-top: 30px;
}
