

.search_input {
    margin: 40px;
    
    input {
        width: 90%;
    }
}


.search_container {
    display: block;
    min-height: 250px;
    clear: left;
}

.search_item_img {
    width: 10vw;
    max-height: 200px;
    border-radius: 10px;
}

.search_item_image {
    float:left;
    margin-right: 15px;
}


.search_item_info {
    overflow: hidden;
}

.news_item {
    padding: 20px;
    box-sizing: border-box;
}

.item_grey {
    background-color: $turquoise;
    border-radius: 15px;
    margin: 20px;
}